<div class="container">
  <div class="card bg-dark text-white m-3 mt-5">
    <h5 class="card-header text-center">
      <img src="../assets/lco.png" alt="" width="30" height="30" class="mr-2" />
      Reactive Signup Form
    </h5>
    <div class="card-body">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <div class="form-group col-6">
            <label>First Name</label>
            <!-- formcontrol name is used for to 
            tell which variable holds this value 
              
            is-invalid -< bootstrap class to get the box red
          -->
            <input type="text"
              formControlName = "firstName"
              class="form-control" 
              [ngClass]="{ 'is-invalid' : submitted && helperMethod.firstName.errors}"
              />
            <div *ngIf="helperMethod.firstName.touched || submitted && helperMethod.firstName.errors" class="text-warning">
              <div *ngIf=" helperMethod.firstName.errors.required ">
                First Name is required
              </div>
            </div>
          </div>
          <div class="form-group col-6">
            <label>Last Name</label>
            <input type="text" 
            formControlName = "lastName"
              class="form-control" 
              [ngClass]="{ 'is-invalid' : submitted && helperMethod.lastName.errors }"   
            />
            <div *ngIf="helperMethod.lastName.touched || submitted && helperMethod.lastName.errors " class="text-warning">
              <div *ngIf=" helperMethod.lastName.errors.required ">
                Last Name is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" 
          formControlName = "email"
          class="form-control" 
          [ngClass]="{ 'is-invalid' : submitted && helperMethod.email.errors}"
         />
          <div *ngIf="helperMethod.email.touched && helperMethod.email.errors" class="text-warning">
            <div *ngIf="helperMethod.email.errors.required">Email is required</div>
            <div *ngIf="helperMethod.email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <ng-container *ngIf="helperMethod.email.touched && helperMethod.email.errors">
          <div *ngIf="helperMethod.email.errors.required" class="text-danger">
            Value is required.
          </div>
        </ng-container>
        <div class="form-row">
          <div class="form-group col">
            <label>Password</label>
            <input type="password" 
            formControlName = "password"
            class="form-control" 
            [ngClass]="{ 'is-invalid' : submitted && helperMethod.password.errors}"
            />
            <div *ngIf="helperMethod.password.touched && helperMethod.password.errors" class="text-warning">
              <div *ngIf="helperMethod.password.errors.required">Password is required</div>
              <div *ngIf="helperMethod.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <div class="form-group col">
            <label>Confirm Password</label>
            <input type="password"
            formControlName = "confirmPassword"
            class="form-control" 
            [ngClass]="{ 'is-invalid' : submitted && helperMethod.confirmPassword.errors}" 
             />
            <div *ngIf="helperMethod.confirmPassword.touched && helperMethod.confirmPassword.errors" class="text-warning">
              <div  *ngIf="helperMethod.confirmPassword.errors.required" >
                Confirm Password is required
              </div>
              <div  *ngIf="helperMethod.confirmPassword.errors.mustmatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <div class="form-group form-check">
          <input 
          formControlName = "acceptTandC"
            [ngClass]="{ 'is-invalid' : submitted && helperMethod.acceptTandC.errors}" 
             type="checkbox" id="acceptTerms" class="form-check-input" />
          <label for="acceptTerms" class="form-check-label" *ngIf=" submitted && helperMethod.acceptTandC.errors">
            Accept Terms & Conditions
          </label>
          <div class="text-warning" *ngIf="helperMethod.acceptTandC.errors.required">
            Accept Ts & Cs is required
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-success btn-lg px-4 mr-3">Register</button>
          <button (click)="onReset()" class="btn btn-warning" type="reset">
            Reset
          </button>
          <p class="text white">Value: {{ registerForm.value | json }}</p>
          <p class="text white">Value: {{ registerForm.valid | json }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
